<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="main">
      <h1>Daily Gratitude</h1>
      <p><i><%= startingContent %></i></p>
      <% posts.forEach(function(post){ %>
      <ul>
        <li>
          <h5><%= post.title %></h5>
          <p><%= post.content %></p>
        </li>
      </ul>
      <% }) %>
    </div>

    <%- include('partials/footer'); -%>
  </body>
</html>
